/* =====================
   Product Details
===================== */
.product-details {
  padding: 80px 0;
}

/* =====================
   Zoom Image
===================== */
.zoom-image {
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  border-radius: 8px; 
  margin: 0 auto;
}

/* Normal image */
.zoom-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease;
}

/* Hide image on hover to show zoom bg */
.zoom-image:hover img {
  opacity: 0;
}

/* =====================
   Size buttons
===================== */
.size-options {
  display: flex;
  gap: 10px;
}

.size-btn {
  padding: 8px 14px;
  border: 1px solid var(--border-color);
  background: var(--white);
  border-radius: var(--radius-sm);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.size-btn:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.size-btn.active {
  background: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}
/* quantity */

.qty-control {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qty-btn {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-sm);
  background-color: var(--white);
  color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.qty-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.qty-number {
  width: 30px;
  text-align: center;
  font-weight: 500;
}




/* =====================
   Mobile: disable zoom
===================== */
@media (max-width: 768px) {
  .zoom-image {
    height: 320px;
    background-size: cover;
    cursor: default;
  }

  .zoom-image:hover img {
    opacity: 1;
  }
}
