/* Hero section */
.hero-slider {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.slide {
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex; /* added */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.slide.active {
  opacity: 1;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* ensure center crop */
  display: block;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: var(--primary-color);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.arrow:hover {
  background: var(--primary-color);
  color: #fff;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: var(--primary-color);
}
/* Features Product */
.card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.discount-price {
  color: var(--primary-color);
  font-weight: 600;
}

.original-price {
  text-decoration: line-through;
  color: var(--text-light);
  font-size: 0.9rem;
}

.card-title {
  font-size: 1rem;
  color: var(--text-dark);
}

.card-text {
  font-size: 0.9rem;
  color: var(--text-light);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: var(--radius-md);
  transition: var(--transition);
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
}

.btn:hover {
  background-color: #115e59;
  color: var(--white);
}

/* FeaturesSection */
.hero-height {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Gallery Section */
.gallery-item .gallery-overlay {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* Responsive */
@media (min-width: 992px) {
  .hero-height {
    height: auto;
  }
}
@media (max-width: 768px) {
  .hero-slider {
    height: 200px;
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .arrow {
    font-size: 24px;
    padding: 8px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
  /* Features Product */
  .card-img-top {
    height: 200px;
  }
}
