@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* =====================
   Root Variables
===================== */
:root {
  --primary-color: #0f766e;
  --secondary-color: #f59e0b;

 --text-denger: #eb6d6d;

  --text-dark: #1f2933;
  --text-light: #6b7280;

  --bg-light: #f5f5f5;
  --white: #ffffff;

  --border-color: #e5e7eb;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 6px 20px rgba(0, 0, 0, 0.12);

  --transition: all 0.3s ease;
}

/* =====================
   Reset & Base
===================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-light);
  color: var(--text-dark);
}
body::-webkit-scrollbar {
  display: none;
}

/* colors class */
.bg-primary {
  background-color: var(--primary-color)!important;
  color: var(--white);
}
.text-primary {
  color: var(--primary-color)!important;
}
.bg-secondary{
  background-color: var(--secondary-color)!important;
  color: var(--white);}
.text-secondary {
  color: var(--secondary-color)!important;
}
.text-link {
  color: #3b82f6;
  text-decoration: underline;
}
.text-white {
  color: var(--white)!important;
}
.text-denger{
  color: var(--text-denger)!important;
}
.text-denger-bg{
  background-color: var(--text-denger)!important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 { font-size: 70px!important; }
h2 { font-size: 60px!important; }
h3 { font-size: 50px!important; }
h4 { font-size: 40px!important; }
h5 { font-size: 30px!important; }
h6 { font-size: 20px!important; }

p {
  font-size: 18px;
  color: var(--text-light);
  line-height: 1.7;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

/* =====================
   Layout
===================== */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

/* =====================
   Buttons
===================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  border-radius: var(--radius-md);
  transition: var(--transition);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-primary:hover {
  background-color: #115e59;
}
.btn-yellow {
  background-color: var(--secondary-color)!important;
  color: var(--white);
}
.btn-outline {
  background-color: transparent!important;
  border: 1px solid var(--primary-color)!important;
  color: var(--primary-color)!important; 
}

.btn-outline:hover {
  background-color: var(--primary-color)!important;
  color: var(--white)!important;
}


/* =====================
   Responsive
===================== */
@media (max-width: 768px) {
  h1 { font-size: 40px!important; }
  h2 { font-size: 34px!important; } 
  h3 { font-size: 28px!important; } 
  h4 { font-size: 24px!important; } 
  h5 { font-size: 20px!important; } 
  h6 { font-size: 18px!important; } 
  .section {
    padding: 60px 0;
  }

  .product-details {
    grid-template-columns: 1fr;
  }
}





/* print */



 